.app-home {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  .home-top {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 170px;
    overflow: hidden;
    background-image: url('@/assets/images/home/home-top-bg.png');
    background-repeat: repeat;
    background-position: top left;
    background-size: 1588px 170px;
    .home-top-logo {
      width: 80px;
      height: 80px;
      margin-left: 40px;
    }
    .home-top-title {
      margin-left: 20px;
      font-size: 20px;
      font-weight: 700;
      color: #ffffff;
    }
    .home-top-btn {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
  .home-body {
    box-sizing: border-box;
    display: flex;
    flex: 1;
    width: 100%;
    padding: 20px;
    overflow: auto;
    .classList-item {
      width: 25%;
      cursor: pointer;
      box-shadow: 2px 2px 3px 1px rgb(59 161 255 / 20%);
      .item-bg {
        height: 200px;
        background-color: aqua;
      }
      .item-className {
        box-sizing: border-box;
        padding: 10px 20px;
        font-size: 14px;
        line-height: 24px;
      }
      .item-chapterNum {
        box-sizing: border-box;
        padding: 5px 20px;
      }
    }
  }
  .pager-wrap {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
  }
}
